<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="beh" name="LanchWCF.Models.AllClasses">
        <endpoint address="Pizza" binding="basicHttpBinding" name="Pizza" contract="LanchWCF.IPizza">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
        <endpoint address="Sushi" binding="basicHttpBinding" bindingConfiguration="" name="Sushi" contract="LanchWCF.Interfaces.ISushi" />
        <endpoint address="Dessert" binding="basicHttpBinding" bindingConfiguration="" name="Dessert" contract="LanchWCF.Interfaces.IDessert" />
        <endpoint address="Drink" binding="basicHttpBinding" bindingConfiguration="" name="Drink" contract="LanchWCF.Models.IDrink" />
        <endpoint address="Order" binding="basicHttpBinding" bindingConfiguration="" name="Order" contract="LanchWCF.IOrder" />
        <endpoint address="Category" binding="basicHttpBinding" bindingConfiguration="" name="Category" contract="LanchWCF.Models.ICategory" />
        <endpoint address="Ingredient" binding="basicHttpBinding" bindingConfiguration="" name="Ingredient" contract="LanchWCF.Models.ICategory" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/LanchWCF/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="beh">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>