<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Pizza" />
                <binding name="Sushi" />
                <binding name="Dessert" />
                <binding name="Drink" />
                <binding name="Order" />
                <binding name="Category" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LanchWCF/Service1/Pizza"
                binding="basicHttpBinding" bindingConfiguration="Pizza" contract="ServiceReference1.IPizza"
                name="Pizza" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LanchWCF/Service1/Sushi"
                binding="basicHttpBinding" bindingConfiguration="Sushi" contract="ServiceReference1.ISushi"
                name="Sushi" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LanchWCF/Service1/Dessert"
                binding="basicHttpBinding" bindingConfiguration="Dessert"
                contract="ServiceReference1.IDessert" name="Dessert" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LanchWCF/Service1/Drink"
                binding="basicHttpBinding" bindingConfiguration="Drink" contract="ServiceReference1.IDrink"
                name="Drink" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LanchWCF/Service1/Order"
                binding="basicHttpBinding" bindingConfiguration="Order" contract="ServiceReference1.IOrder"
                name="Order" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LanchWCF/Service1/Category"
                binding="basicHttpBinding" bindingConfiguration="Category"
                contract="ServiceReference1.ICategory" name="Category" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LanchWCF/Service1/Ingredient"
                binding="basicHttpBinding" bindingConfiguration="Category"
                contract="ServiceReference1.ICategory" name="Ingredient" />
        </client>
    </system.serviceModel>
</configuration>